[Unit]
Description=Jenkins Daemon
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /usr/share/jenkins/jenkins.war -Djava.awt.headless=true
User=jenkins

[Install]
WantedBy=multi-user.target
